<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Steele Rose CRM Management</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#data-table').DataTable({'orderFixed':[0, 'desc']});
        });
    </script>
    <object th:include="fragments/head :: head" th:remove="tag"></object>

    <link th:href="@{/assets/pages/css/profile.min.css}" rel="stylesheet" type="text/css" />
</head>

<body class="page-container-bg-solid">
<div th:include="fragments/topmenuheader :: header"></div>

<div class="container">
    <p class="pull-right">
        Welcome <span sec:authentication="principal.username">User</span>
    </p>
    <div class="pull-right" sec:authorize="hasAuthority('ADMIN')">
        <i><span sec:authentication="principal.authorities">Roles</span></i>&nbsp;
        <a th:href="@{/settingForm}">Settings</a>
    </div>
</div>

<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">
                            <h3 style="text-align: center; color: #18770C; font-weight: bold;">ENQUIRY CALL LISTS</h3>
                        </strong>
                        <div style="text-align: center; font-weight: bold">
                            <a th:href="@{/callListAdd}" class="btn btn-success">Add</a>
                            <!--<a th:href="@{/showNewCallListForm}">ADD</a> <br />-->
                        </div>
                    </div>
                    <div class="card-body">
                        <table id="data-table" class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>Call ID</th>
                                <th>Date</th>
                                <th>Contact Name</th>
                                <th>Staff Member</th>

                                <th>Options</th>
                                <th>Action Required</th>
                                <th>Email</th><th>Call</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="calls:${listCalls}">
                                <td th:text="${calls.id}">Client ID</td>
                                <!--<td th:text="${calls.recordDate}">Client Name</td>-->
                                <td th:text="${#dates.format(calls.recordDate, 'dd-MM-yyyy HH:mm')}">Record Date</td>
                                <td th:text="${calls.contactName}">Client Name</td>
                                <td th:text="${calls.staff.staffName}">Staff Name</td>
                                <td>
                                    <a th:href="@{/callListEdit/{id}(id=${calls.id})}" class="btn btn-primary">Details</a>
                                    <!--<a th:href="@{/deleteCallList/{id}(id=${calls.id})}" class="btn btn-danger">Delete</a>-->
                                    <a th:href="@{/callListEmail/{id}(id=${calls.id})}" class="btn btn-default">Email</a>
                                    <a th:href="@{/archiveCallList/{id}(id=${calls.id})}" class="btn btn-danger">Archive</a>
                                </td>
                                <td> <span th:if="${calls.emailCheck}" th:text="EMAIL"></span> &nbsp; &nbsp;
                                    <span th:if="${calls.callCheck}" th:text="CALL"></span></td>
                                <td> <span th:if="${calls.emailCheck}" th:text="${calls.emailDone} ? 'COMPLETED' : ''"></span> &nbsp;&nbsp;
                                    <span th:if="${calls.emailCheck}" ><span th:if="${!calls.emailDone}" >
                                        <a th:href="@{/emailActionDone/{id}(id=${calls.id})}"> PENDING </a></span></span>
                                </td>
                                <td> <span th:if="${calls.callCheck}" th:text="${calls.callDone} ? 'COMPLETED' : ''"></span> &nbsp;&nbsp;
                                    <span th:if="${calls.callCheck}" ><span th:if="${!calls.callDone}" >
                                        <a th:href="@{/callActionDone/{id}(id=${calls.id})}"> PENDING </a></span></span> </td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>