<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Steele Rose CRM Management</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta content="This shows CRM Steele Rose" name="description" />
    <object th:include="fragments/head :: head" th:remove="tag"></object>

    <link th:href="@{/assets/pages/css/profile.min.css}" rel="stylesheet" type="text/css" />
</head>

<body class="page-container-bg-solid">
<div th:include="fragments/topmenuheader :: header"></div>
<div class="page-container">
    <div class="page-content-wrapper">
        <div class="page-head" style="background-color:#eff3f8;padding-top:40px">
            <div class="container">
                <p class="pull-right">
                    Hi <span sec:authentication="principal.username">User</span>
                </p>
                <div class="row" style="margin-bottom:30px">
                    <div class="col-md-6">
                        <h2>Wills Dashboard</h2>
                    </div>
                </div>
                <div class="row" style="margin-bottom:150px">

                    <div class="col-md-6" style="margin-top:20px">
                        <div id="salesByRegion" style="width:100%; height:400px;"></div>
                    </div>

                    <div class="col-md-6" style="margin-top:20px">
                        <table>
                            <tr><td> <a style="width: 190px; height: 40px;" th:href="@{/companyAdd}" class="btn btn-success"> Create a Company </a> </td></tr>
                            <tr><td> <a style="width: 190px; height: 40px;" th:href="@{/company}" class="btn btn-primary"> Company Search </a> </td></tr>
                            <tr><td> <a style="width: 190px; height: 40px;" th:href="@{/showClient}" class="btn btn-primary"> Client Search </a> </td></tr>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="fragments/homefooter :: footer"></div>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(function () {
        Highcharts.setOptions({
            lang: {
                decimalPoint: '.',
                thousandsSep: ','
            }
        });

        drawSalesByRegionChart();
    });


    function drawSalesByRegionChart() {
        var salesByRegionChart = Highcharts.chart('salesByRegion', {
            chart: {
                type: 'pie',
                margin: 40,
                options3d: {
                    enabled: true,
                    alpha: 45,
                    beta: 0
                }
            },
            title: {
                text: 'Company by Region'
            },
            tooltip: {
                pointFormat: "${point.y:,.0f}"
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    depth: 35
                }
            },
            series: [{
                name: 'Regions',
                colorByPoint:true,
                data: [{
                    name: 'Northeast',
                    y: /*[[${northeastSales}]]*/ 0
                },{
                    name: 'South',
                    y: /*[[${southSales}]]*/ 0
                },{
                    name: 'Midwest',
                    y: /*[[${midwestSales}]]*/ 0
                },{
                    name: 'West',
                    y: /*[[${westSales}]]*/ 0
                }]
            }]
        });
    }


    /*]]>*/
</script>
</body>
</html>